:root {
    --primary-color: #673aa3;
}
.login{
    box-shadow: 0px 2px 7px #000000;
    width: 40%;
    margin: 120px auto;
}
.form-title{
    text-align: center;
    background-color: var(--primary-color);
    margin-bottom: 35px;
}
.form-title span{
    line-height: 55px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.form_element{
    line-height: 70px;
    padding: 0 20px;
}
.form_element label{
    font-size: 16px;
    font-weight: bold;
    color: #555050;
}
.form_element input{
    background: rgb(239 239 239);
    padding: 6px;
    border-radius: 3px;
    outline: none;
    border: none;
    margin: 3px;
    font-size: 17px;
    width: 86%;
}
.form_element i{
    background: rgb(239 239 239);
    padding: 6px;
    font-size: 18px;
    border-radius: 3px;
    margin: 3px;
}
.submit-btn{
    text-align: center;
    padding: 15px 0;
}
.submit-btn button{
    cursor: pointer;
    border: none;
    background: var(--primary-color);
    line-height: 30px;
    color: white;
    font-size: 18px;
    padding: 2px 12px;
    border-radius: 3px;
}
.errMsg{
    font-size: 14px;
    color: red;
    font-weight: 600;
}
@media only screen and (max-width:800px){
    .login {
        width: 60%;
    }
    .form-title{
        margin-bottom: 25px;
    }
    .form-title span{
        line-height: 45px;
    }
    .form_element{
        line-height: 55px;
        padding: 0 20px;
    }
}
@media only screen and (max-width:500px){
    .login {
        width: 90%;
    }
    .form-title span{
        line-height: 55px;
        color: white;
        font-size: 16px;
        font-weight: 500;
    }
}